* {
    box-sizing: border-box;
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-bottom: 10px;
}
#addBtn{
    width: 100px;
    height: 20px;
    margin: 10px;
}
.call{
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.input {
    margin-bottom: 10px;
  }
.task3{background-color: green;}
#cube   {
    width: 100px;
    height: 100px;
    background-color: green;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
}
#searchInput {
    padding: 8px;
    margin-bottom: 10px;
}
.shape {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition: 0.5s;
    background-color: green;
  }